.DS_Store
.idea
*.json
fma_metadata
fma_metadata_sampled
*.zip
*.txt
env/
.env
StarSchemaReport.docx
StarSchemaDiagram.svg
PerformanceTuningReport.docx
logs
streamlit_app/utils/__pycache__/queries.cpython-39.pyc
streamlit_app/utils/__pycache__
*__pycache__/
streamlit_app\utils\__pycache__\db_connection.cpython-39.pyc